<section class="section">
  <div class="container">
    <h2 class="title">Resend unlock instructions</h2>
    
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    
    <div class="actions">
      <%= f.submit "Resend unlock instructions" %>
    </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</section>

