  <div class="container">
    <h2 class="title">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class:"button" %><br><br><br><br>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <script type="text/javascript">
    window.parent.postMessage("rendered-loggin-form", "*");
  </script>
