html, body{
  background:#111;
}

.container{
  text-align:left;
}

iframe.left-menu{
  overflow:hidden;
}

.video-player{
  width:100%;
  margin-top:-20px;
  height:calc(100% - 20px);
  max-height:calc(100% - 20px);
}

@media all and (max-width:768px){
  .content{
	margin-left:10px;
	margin-right:10px;
  }
  iframe.left-menu{
	display:none;
  }
}
