<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/libs/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/application.css">
  </head>

  <body>
    <% if notice %>
    <p class="notification"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="notification is-danger alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
