body{
  text-align:center;
  background:#fff;
  font-family:Open Sans;
  padding:0;
  margin:0;
}

html{
  background:#000;
}

.title{
  font-weight:300;
}

h3{
  color:#333;
  padding:30px;
  margin:0;
}

input{
  border-radius:2px;
  border: 1px solid #aaa;
  padding:5px;
  background:#eee;
}

.main-features-list{
  text-align: center;
  font-size:18px;
  max-width: 400px;
  margin:auto;
  margin-top:20px;
  margin-bottom:30px;
}

.video-container{
  background:#111;
}

.hero-video{
  width: 100%;
}

.hero-body .text-hero{
  color:#abd0ff!important;
}

.pricing-hero{
  background:#000;
}

.pricing-hero .title{
  color:#fff;
  margin-bottom:40px;
}

.hero.is-primary.is-lighter{
  background:#333;
  background:linear-gradient(#000,#012);
}

.pricing-hero h2{
  color:#fff;
  font-size: 50px;
  margin-bottom: 30px;
}

.pricing-hero p.description{
  color:#fff;
  font-size:20px;
  margin-bottom:20px;
}

.pricing-hero .premium-effects{
  font-size: 20px;
  color: #fff;
  margin-top: 40px;
}

.pricing-card{
  background:#fff;
  background: linear-gradient(#fff,#e1e1e1);
  width:300px;
  display:inline-block;
  vertical-align:top;
  border-radius:5px;
  margin:15px;
  height: 420px;
  position:relative;
}

.pricing-card .button{
  position:absolute;
  bottom:20px;
  left:calc(50% - 50px);
}

.pricing-card p{
  text-align:left;
  margin-top:15px;
}

.pricing-card .how-to-purchase{
  color:#000;
  text-align:center;
}

.pricing-card h3{
  color:#000;
  padding: 0;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size:30px;
}

.pricing-card .button{
  margin-top:20px;
  border-top: none;
  transition:all 0.2s;
}

.pricing-card .feature{
  font-size:20px;
  color:#333;
  line-height:50px;
  font-size: 20px;
  color: #333;
  line-height: 60px;
  background: linear-gradient(#fff,#ddd);
  width: 240px;
  margin-left: -24px;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.pricing-card .price-per-year{
  font-size:14px;
  color:#333;
  line-height:50px;
  margin-top:-20px;
}

.pricing-card .price{
  color: #0a0e12;
  height:60px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

.price .dollar-sign{
  position:relative;
  top:-17px;
  left:3px;
}

.price .the-price{
  font-size:40px;
  font-weight:600;
}

.price .per-what{
  font-size:20px;
}

.pricing-card .button{
  font-size:20px;
}

.hero.is-primary{
  background:#111;
}

.button.is-primary {
  background:#8320b0;
  border:none;
  transition:all 0.3s;
}

.button.is-primary:hover {
  background-color: #472f88;
}

.button.is-primary:active {
  background-color: #472f88;
}

.navbar {
  background-color: #1e1e1e;
}

.navbar-logo{
  margin-top: -3px;
}

.navbar a{
  color: #fff;
  margin-right: 20px;
}

link:hover, a.navbar-item.is-active, a.navbar-item:hover {
  background-color: #111;
  color: #fff;
}

.pricing-card.basic{
  border-top:10px solid #aaa;
  border-bottom:10px solid #aaa;
}

.pricing-card.pro{
  background:#fff;
  margin-top:-5px;
  padding-top:40px;
  padding-bottom:40px;
  border-top:10px solid #c96800;
  border-bottom:10px solid #c96800;
}

.pricing-card.business{
  background:#fff;
  border-top:10px solid #333;
  border-bottom:10px solid #333;
}

.pricing-card .button{
  margin-top:10px;
}

#landing-svg{
  transition: all 0.2s;
  transform: skewX(10deg) skewY(-3deg);
  max-width:60%;
}

#landing-svg:active{
  transform: scale(1.1) skewX(10deg) skewY(-3deg);
}

#landing-svg:active #annotations{
  transform: translateX(-3px);
}

#landing-svg #annotations{
  opacity: 0;
}

#landing-svg rect,
#landing-svg g{
  transition: all 0.3s;
}

@media all and (min-width:1000px){
  .pull-screenshot-right{
	margin-right:-35%;
  }
  .hero-desktop-spacer{
	height:20px;
  }
}

.features-list{
  margin-top:20px;
}

.features-list li{
  text-align: left;
  font-size:16px;
  padding:10px;
  border-radius:3px;
}

.features-list li:nth-child(2n+1){
  background:#ddd;
  color:#000;
}


.coffee{
  color:#555;
}

.supported-platforms{
  margin-top:30px;
  font-size:20px;
  font-weight:600;
}

p.small{
  font-size:13px;
  color:#000;
}

p.subject-to-change{
  margin-bottom:40px;
  margin-top:-30px;
  color:#bbb;
}

@media all and (min-width:768px) {

  .hero .subtitle{
    line-height:40px;
    font-size:150%;
    margin-top:40px !important;
    margin-bottom:40px !important;
  }

  .navbar-end{
    margin-right:10px;
  }
}

@media all and (max-width:768px) {
  .button.is-large{
	margin-top: 110px;
	font-size: 20px;
  }
  .screenshot{
	margin-top:0;
  }
  .pricing-card{
	width:auto;
  }
}

.button.is-link {
    background: #8320b0;
	transition: all 0.3s;
	border:none;
}

.button.is-link:hover,.button.is-link:active {
    background-color: #472f88;
}
