<section class="section">
  <div class="container">
    <h2 class="title">Forgot your password?</h2>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    
    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "button" %><br><br>
    </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</section>
